Reiterate need for 0-RTT profile

Application protocols that use QUIC are required to define how 0-RTT is used.  This draft doesn't really change that, but it does add to what 0-RTT can carry.  In an abundance of caution, it should link to [Section 5.6 of RFC 9001](https://quicwg.org/base-drafts/rfc9001.html#section-5.6-3).