Awkward phrasing of pacing requirement

> Implementations that use packet pacing SHOULD support delaying the transmission of DATAGRAM frames for at least the time it takes to send the paced packets allowed by the congestion controller to avoid dropping frames excessively.

I am having trouble parsing this.  I think that this is saying that if you have a pacer, then an endpoint might delay DATAGRAM frames to avoid overriding the sending rate of the pacer.

However, this seems to imply that the maximum delay imposed here is the inter-packet interval of the pacer.  I think that is a bad assumption, even if it might be a simplifying assumption that some implementations might choose to adopt.  In some cases, the pacer interval will be too slow for the application (for low BDP, high RTT connections especially) or in some cases the pacer interval might be short enough to allow multiple intervals before dropping the packet (for high BDP, short RTT connections).

The goal should just be to avoid deferring DATAGRAM sending indefinitely, with controls over any delays being available to applications.

Maybe:

> Implementations that use packet pacing ({{Section 7.7 of RFC9002}}) can delay transmission of DATAGRAM frames to avoid having packets sent faster than pacing would otherwise allow.  Any transmission delays will need to allow for application-level constraints on frame delivery times.

I think the goal here was to prevent implementations naively dropping DATAGRAM frames anytime they couldn't be sent immediately, which would be a pathologically bad case when a packet pacer is being used. But good point that this should be clarified.