Question about：This frame SHOULD be sent as soon as possible, and MAY be coalesced with other frames

The draft-ietf-quic-datagram has the following words: This frame SHOULD be sent as soon as possible, and MAY be coalesced with other frames.If one DATAFRAM frame is coalesced with STREAM frame in one QUIC packet.And the QUIC packet is lost by the middlebox, according to the rfc9000, the quic packet must be retransmission, But the DATAFRAM frame do not need retransmission.

QUIC does not retransmit packets, it retransmits application data, see [Section 13.3 of RFC 9000](https://datatracker.ietf.org/doc/html/rfc9000#section-13.3). In your example, the data from the STREAM frame would be retransmitted but not the data from the DATAGRAM frame.

Okay, Thanks.